<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header th:replace="fragments/header.html::top"></header>
    <ul class="doctor-list">

      <li><a th:href="@{/doctor/(number=1, name='William 20Hartnell')}">Doctor 1</a></li>
      <li><a th:href="@{/doctor/(number=2, name='Patrick Troughton')}">Doctor 2</a></li>
      <li><a th:href="@{/doctor/(number=3, name='Tom Baker')}">Doctor 3</a></li>
      <li><a th:href="@{/doctor/(number=4, name='Peter Davison')}">Doctor 4</a></li>
      <li><a th:href="@{/doctor/(number=5, name='Colin Baker')}">Doctor 5</a></li>
      <li><a th:href="@{/doctor/}">Unknown Doctor</a></li>
    </ul>
    <footer th:replace="fragments/footer.html::bottom"></footer>
  </body>
</html>
